body {
    background: teal;
    color: white;
    display: grid;
    place-items: center;
    height: 80vh;
    margin: 0 auto;
    max-width: 300px;
}

h1 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 100;
    font-size: 24pt;
    user-select: none;
}


button {
    display: block;
    background: none;
    font-size: 14pt;
    margin: 30px;
    padding: 8px;
}

.stateful-button {
    display: block;
    background: none;
    box-shadow: 0 0 3px;
    font-size: 28pt;
    font-weight: 200;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    min-height: 50px;
    min-width: 50px;
}


hr {
    margin: 5vh 0 5vh 0;
}
